body { background:url('bois.jpg');
	background-attachment: fixed;
	 font-family: Verdana, sans-serif; 
	 font-size: 100%;
	
}
table{	
		width:100%;
		max-width:700px;
		min-width:400px;
		text-align:center;
		font-family: "Trebuchet MS", sans-serif;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.4em;
		font-style: normal;
		border-collapse:separate;
		border: 1px solid black;
		padding:2px;
}

th, td {
	background-color:white;
	border: 1px solid #6495ed ;
	padding:2px;
}
h1{border-radius:5px;
	background: #E8EFF7;
   font-size: 200%; 
	color: navy; 
	text-align: center;
   padding: 20pt;
   text-align: center;
     margin: 80pt;
   margin-top: 20pt;
}

select,input{
	text-align: center;
	margin:5px;
	padding:5px;
}
input[type=submit]{
	cursor:pointer;
}

a.retour:link {
	padding:5px;
	border:1px solid black;
	border-radius:5px;
	color:black;
	background-color:#E8EFF7;
	text-decoration:none;
}


a.inscription:link {
	padding:5px;
	border:1px solid black;
	border-radius:5px;
	color:black;
	background-color:#E8EFF7;
	text-decoration:none;
}
a.retour:visited {
	padding:5px;
	border:1px solid black;
	border-radius:5px;
	color:black;
	background-color:#E8EFF7;
	text-decoration:none;
} 

a.inscription:visited {
	padding:5px;
	border:1px solid black;
	border-radius:5px;
	color:black;
	background-color:#E8EFF7;
	text-decoration:none;
}
a.retour:hover {
	padding:5px;
	border:1px solid black;
	border-radius:5px;
	color:cyan;
	background-color:#E8EFF7;
	text-decoration:none;
}

a.inscription:hover {
	padding:5px;
	border:1px solid black;
	border-radius:5px;
	color:cyan;
	background-color:#E8EFF7;
	text-decoration:none;
}
a.retour, #inscription:active, a.retour, #inscription:focus {
	padding:5px;
	border:1px solid black;
 border-radius:5px;
	 color:black; 
	 background-color:#E8EFF7; 
	 text-decoration:none; }

	
#rechercher{
   color: black;
   text-align:center;
   }
   
#membre{
	border:1px solid black;
	border-radius:5px;
   color: black;
   text-align: right ;
   background:#E8EFF7;
    margin-right: 1010pt;
	padding:20pt;
   
}
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   